In [1]:
import pandas as pd
import numpy as np

In [3]:
df1 = pd.read_csv('zomato.csv')

In [4]:
df1.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [5]:
df1.drop(['url','address','name','reviews_list','rest_type','listed_in(city)','dish_liked'],inplace=True,axis=1)

In [6]:
df1['phone'].fillna('No', inplace=True)
df1.loc[df1['phone'] != 'No', 'phone'] = 'Yes'

In [7]:
df1['location'].fillna(df1['location'].mode()[0],inplace=True)
# fill the cuisiness with the mode once again
df1['cuisines'].fillna(df1['cuisines'].mode()[0],inplace=True)

In [8]:
df1['rate'] = df1.rate.str.replace('/5','')

In [9]:
df1['rate'] = df1.rate.replace('NEW',np.nan)
df1['rate'] = df1.rate.replace('-',np.nan)
df1['rate'] = df1.rate.astype(float)
mean = df1['rate'].mean()
mean

3.700448817952718

In [10]:
df1['rate'] = df1['rate'].fillna(mean)

In [11]:
df1.rename(columns={'approx_cost(for two people)':'costing'},inplace=True)
df1.costing.unique()

array(['800', '300', '600', '700', '550', '500', '450', '650', '400',
       '900', '200', '750', '150', '850', '100', '1,200', '350', '250',
       '950', '1,000', '1,500', '1,300', '199', '80', '1,100', '160',
       '1,600', '230', '130', '50', '190', '1,700', nan, '1,400', '180',
       '1,350', '2,200', '2,000', '1,800', '1,900', '330', '2,500',
       '2,100', '3,000', '2,800', '3,400', '40', '1,250', '3,500',
       '4,000', '2,400', '2,600', '120', '1,450', '469', '70', '3,200',
       '60', '560', '240', '360', '6,000', '1,050', '2,300', '4,100',
       '5,000', '3,700', '1,650', '2,700', '4,500', '140'], dtype=object)

In [12]:
df1['costing'] = df1['costing'].str.replace(',','')
df1['costing'].fillna(df1['costing'].median(),inplace=True)
df1['costing'] = df1['costing'].astype(int)

In [13]:
df1.drop_duplicates(inplace=True)

In [14]:
def name_array_length(arr):
    if len(arr) > 2:
        return 'menu available'
    else:
        return 'menu not availabe'
df1['menu'] = df1['menu_item'].apply(name_array_length)

In [15]:
df1.drop(['menu_item'],inplace=True,axis=1)

In [16]:
def cuisines(data):
    cuisine = len(str(data).split(','))
    return cuisine
df1['cuisines'] = df1['cuisines'].apply( cuisines)
df1.sample(7)

,online_order,book_table,rate,votes,phone,location,cuisines,costing,listed_in(type),menu
41786,Yes,No,3.700000,24,Yes,Marathahalli,1,250,Dine-out,menu not availabe
29818,Yes,No,3.900000,51,Yes,BTM,2,200,Delivery,menu available
10886,No,Yes,4.800000,4390,Yes,Koramangala 5th Block,3,1000,Dine-out,menu not availabe
36739,Yes,Yes,4.200000,520,Yes,Koramangala 5th Block,3,800,Dine-out,menu not availabe
18106,Yes,No,3.900000,73,Yes,Richmond Road,4,400,Delivery,menu not availabe
46487,No,No,3.700449,0,Yes,Rajajinagar,1,400,Delivery,menu not availabe
26830,Yes,No,4.400000,537,Yes,Old Airport Road,2,600,Delivery,menu available

In [17]:
X = df1.drop(columns=['rate'],axis=1)
Y = df1['rate']

In [18]:
from sklearn.impute import SimpleImputer 
from sklearn.preprocessing import StandardScaler 
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [19]:
categorical_cols = X.select_dtypes(include='object').columns
numerical_cols = X.select_dtypes(exclude='object').columns

num_pipeline=Pipeline(
    steps=[
        ('imputer',SimpleImputer()),
        ('scaler', StandardScaler())
    ]
)

cat_pipeline=Pipeline(
    steps=[
        ('imputer',SimpleImputer(strategy='most_frequent')),
        ('onehotencoder',OneHotEncoder(sparse_output=False, handle_unknown='ignore', categories='auto'))
    ]
)

In [20]:
preprocessor=ColumnTransformer(
    [
        ('num_pipeline',num_pipeline,numerical_cols),
        ('cat_pipeline',cat_pipeline,categorical_cols)
    ]
)

In [21]:
X = preprocessor.fit_transform(X)

In [22]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.30,random_state=30)
X_train.shape,X_test.shape

((25498, 111), (10928, 111))

In [23]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [24]:
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [29]:
from keras.models import Sequential
from keras.layers import Dense

In [30]:
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(64, activation='relu'),
    Dense(1, activation ="linear")  # Output layer with one neuron for regression
])


model.compile(optimizer='adam', loss='mean_squared_error')

model.fit(X_train, y_train, epochs=20, batch_size=32, verbose=1, validation_split=0.2)

C:\Users\Dell\anaconda3\lib\site-packages\keras\src\layers\core\dense.py:85: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Epoch 1/20
638/638 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 1.8074 - val_loss: 0.1539
Epoch 2/20
638/638 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.1491 - val_loss: 0.1278
Epoch 3/20
638/638 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.1473 - val_loss: 0.1345
Epoch 4/20
638/638 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.1196 - val_loss: 0.1268
Epoch 5/20
638/638 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.1217 - val_loss: 0.1264
Epoch 6/20
638/638 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.1148 - val_loss: 0.1214
Epoch 7/20
638/638 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.1124 - val_loss: 0.1403
Epoch 8/20
638/638 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.1113 - val_loss: 0.1178
Epoch 9/20
638/638 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.1093 - val_loss: 0.1202
Epoch 10/20
638/638 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.1072 - val_loss: 0.1187
Epoch 11/20
638/638 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.1110 - val_loss: 0.1199
Epoch 12/20
638/638 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.1029 - val_loss: 0.1286
Epoch 13/20
638/638 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.1064 - val_loss: 0.1307
Epoch 14/20
638/638 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.1023 - val_loss: 0.1247
Epoch 15/20
638/638 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.1009 - val_loss: 0.1150
Epoch 16/20
638/638 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.1027 - val_loss: 0.1160
Epoch 17/20
638/638 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 0.0991 - val_loss: 0.1210
Epoch 18/20
638/638 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0968 - val_loss: 0.1282
Epoch 19/20
638/638 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0984 - val_loss: 0.1306
Epoch 20/20
638/638 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0962 - val_loss: 0.1332